@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'DG-Gaza';
    src: url('/fonts/DG-Gaza.ttf') format('truetype'),
         url('/fonts/DG-Gaza.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'ArabicUI';
    src: url('/fonts/arabicc.ttf') format('truetype'),
         url('/fonts/arabicc.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}


:root {
  --font-arabic: 'Cairo', Arial, sans-serif;
}

.bg-gold {
  background-color: #d4af37;
}

.text-gold {
  color: #d4af37;
}